.SearchedUser {
    border-top: 1px solid #f1f3f5;
    padding: 1rem;
    display: flex;
    align-items: center; 
    transition: all 0.15s;
}
  
.SearchedUser .text {
    flex: 1;
    text-align: left;
    word-break: break-all;
    cursor: pointer;
}
  
.SearchedUser .text:hover {
    color: orange;
}

  
.SearchedUser .row {
    display: flex;
    padding: 20px;
    height: 50px;
    text-align: center;
}

.SearchedUser button {
    margin: 1px 0;
    padding: 5px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
    
}

.SearchedUser .left {
    flex: 10%;
}

.SearchedUser .middle {
    flex: 50%;
}

.SearchedUser .right {
    flex: 10%;
}