.NewHero {
  background: #22a6b3;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
}
.NewHero h1 {
  color: #dff9fb;
}

.NewHero label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  color: #dff9fb;
}

.NewHero input,
.NewHero textarea {
  display: block;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}

.NewHero button {
  margin: 5px 0;
  padding: 10px;
  font: inherit;
  border: 1px solid #dff9fb;
  background-color: transparent;
  color: #dff9fb;
  cursor: pointer;
}

.NewHero button:hover,
.NewHero button:active {
  color: white;
  background-color: #7ed6df;
}