version: '3'

services:
    frontend:
        build:
            context: ./frontend
            dockerfile: ./frontend/Dockerfile.dev
        ports:
            - "3000:3000"
        volumes:
            - /app/node_modules
            - .:/app

    #backend:
