.Hero {
  border-top: 1px solid #dff9fb;
  border-bottom: 1px solid #dff9fb;
  padding: 1rem;
  display: flex;
  align-items: center; 
  transition: all 0.15s;
}

.Hero .text {
  flex: 1;
  text-align: left;
  word-break: break-all;
  cursor: pointer;
}

.Hero .text:hover {
  color: #dff9fb;
}